//Vars
$font-stack:    Helvetica, sans-serif
$text-color:	#333
$primary-color:	#07f
$danger-color:	#f70

body
	font: 100% $font-stack
	color: $text-color

.btn-1
	background: $primary-color
	
.btn-2
	background: $danger-color

